<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.neusoft.xuxiao.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="cn.neusoft.xuxiao.entity.Question">
        <result column="id" property="id"/>
        <result column="question_base_id" property="questionBaseId"/>
        <result column="select_type" property="selectType"/>
        <result column="content" property="content"/>
        <result column="question_type" property="questionType"/>
        <result column="grade" property="grade"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        question_base_id AS questionBaseId,
        select_type AS selectType,
        content,
        question_type AS questionType
        grade
    </sql>

    <select id="findFillAnswerRefByBaseIdAndType" resultType="java.util.HashMap">
      SELECT
      q.id,
      ra.right_answer_content
      FROM question q
      INNER JOIN right_answer ra
      ON ra.question_id = q.id
      WHERE q.question_type = 2
      AND q.question_base_id = {base_id}
    </select>

    <select id="findSelectAnswerRefByBaseIdAndType" resultType="java.util.HashMap">
      SELECT
      q.id,
      ra.right_answer_index
      q.grade
      FROM question q
      INNER JOIN right_answer ra
      ON ra.question_id = q.id
      WHERE q.question_type = 1
      AND q.question_base_id = {base_id}
    </select>
</mapper>